<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>CustomerList</title>
</head>
<body>
    <table id="customers" border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer : ${customerList}">
                <td th:text="${customer.getName()}"></td>
                <td th:text="${customer.getEmail()}"></td>
                <td th:text="${customer.getAddress()}"></td>
            </tr>
        </tbody>

    </table>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>